<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header text-center h5">
                Registrate
            </div>
            <div class="card-body">
                <form action="/api/users/register" method="POST">
                    <div class="form-group">
                        <input type="text" name="dni" class="form-control" placeholder="Documento de Identidad"
                            value="{{dni}}" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Nombre completo"
                            value="{{name}}" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Correo Electronico"
                            value="{{email}}" required>
                    </div>
                    <div class="form-group">
                        <input type="number" min="0" name="phone" class="form-control" placeholder="Telefono"
                            value="{{phone}}" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Constraseña"
                            value="{{password}}" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="confirm_password" class="form-control"
                            placeholder="Confirma tu Constraseña" value="{{confirm_password}}" required>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="mode">Rol</label>
                            </div>
                            <select class="custom-select" id="mode" name="rol">
                                <option value="aspirante">Aspirante</option>
                                <option value="coordinador">Coodinador</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Crear Cuenta
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>